<section class="contact section" id="contact">
  <h2 class="section-title">İletişim</h2>
  <div class="contact__container bd-grid">
    <form [formGroup]="contactAddForm" class="contact__form">
      <input
        type="text"
        formControlName="firstName"
        placeholder="Adınız"
        class="contact__input"
      />
      <input
        type="text"
        formControlName="lastName"
        placeholder="Soyadınız"
        class="contact__input"
      />
      <input
        type="mail"
        formControlName="email"
        placeholder="Mail adresiniz"
        class="contact__input"
        ngModel
        [email]="true"
      />
      <input
        type="text"
        formControlName="subject"
        placeholder="Konu"
        class="contact__input"
      />
      <textarea
        name=""
        id=""
        cols="0"
        rows="10"
        formControlName="message"
        placeholder="Mesajınız"
        class="contact__input"
      ></textarea>
      <input
        type="button"
        type="reset"
        value="Gönder"
        class="contact__button button"
        (click)="add()"
      />
    </form>
  </div>
</section>
