<section class="contact section" id="contact">
  <h2 class="section-title">İletişim</h2>
  <div class="contact__container bd-grid">
    <form class="contact__form">
      <input type="text" placeholder="Adınız" class="contact__input" />
      <input type="text" placeholder="Soyadınız" class="contact__input" />
      <input type="mail" placeholder="Mail adresiniz" class="contact__input" />
      <input type="text" placeholder="Konu" class="contact__input" />
      <textarea
        name=""
        id=""
        cols="0"
        rows="10"
        placeholder="Mesajınız"
        class="contact__input"
      ></textarea>
      <input type="button" value="Gönder" class="contact__button button" />
    </form>
  </div>
</section>
