<section class="skills section" id="skills">
  <h2 class="section-title">Yeteneklerim</h2>
  <div class="skills__container bd-grid">
    <div>
      <div class="skills__data">
        <div class="skills__names">
          <span class="skills__name">HTML5</span>
        </div>
        <div class="skills__bar"></div>
      </div>

      <div class="skills__data">
        <div class="skills__names">
          <span class="skills__name">CSS3</span>
        </div>
        <div class="skills__bar"></div>
      </div>

      <div class="skills__data">
        <div class="skills__names">
          <span class="skills__name">Java</span>
        </div>
        <div class="skills__bar"></div>
      </div>
    </div>
  </div>
</section>
