<section class="about section" id="about">
  <h2 class="section-title">Hakkımda</h2>
  <div class="about__container bd-grid">
    <div class="about__img">
      <img src="../../../assets/images/METEHAN ÖZALP.jpg" />
    </div>
    <div>
      <h2 class="about__subtitle">Metehan Özalp</h2>
      <p class="about__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sodales
        porttitor mattis. Aliquam mattis nisl eget lacus fringilla mattis.
        Pellentesque diam lectus, auctor at tincidunt a, volutpat a nulla.
        Pellentesque habitant morbi tristique senectus et netus et malesuada
        fames ac turpis egestas. Vestibulum scelerisque nulla orci, ut placerat
        neque consectetur et. Suspendisse blandit, diam a sagittis interdum, ex
        nisi placerat sem, non auctor tellus nisi at metus. Etiam accumsan
        pretium placerat. Fusce mattis volutpat risus, in auctor sem tincidunt
        quis. Maecenas non elit fermentum lectus auctor lacinia. Pellentesque
        eget augue tellus. Pellentesque varius dui sit amet neque lobortis
        pulvinar. Praesent maximus mattis porta. Cras tortor purus, tempor in
        risus id, luctus ultrices tellus.
      </p>
    </div>
  </div>
</section>
