<section class="about section" id="about">
  <h2 class="section-title">Hakkımda</h2>
  <div class="about__container bd-grid">
    <div class="about__img">
      <img src="../../../assets/images/METEHAN ÖZALP.jpg" />
    </div>
    <div>
      <h2 class="about__subtitle">Metehan Özalp</h2>
      <p class="about__text">
        {{ aboutMe.description }}
      </p>
      <ul class="about-info mt-4 px-md-0 px-2">
        <li class="d-flex">
          <span>Ad Soyad:</span>
          <span>{{ aboutMe.firstName }} {{ aboutMe.lastName }}</span>
        </li>
        <li class="d-flex">
          <span>Email:</span>
          <span
            ><a href="mailto:{{ aboutMe.email }}">{{ aboutMe.email }}</a></span
          >
        </li>
        <li class="d-flex">
          <span>Meslek:</span> <span>{{ aboutMe.job }}</span>
        </li>
        <li class="d-flex">
          <span>Doğum Tarihi:</span> <span>{{ aboutMe.birthDate }}</span>
        </li>
      </ul>
    </div>
  </div>
</section>
