<footer class="footer">
  <p class="footer__title">Metehan Özalp</p>
  <div class="footer__social">
    <a
      href="https://www.instagram.com/mthn_official/"
      target="_blank"
      class="footer__icon"
      ><i class="bx bxl-instagram"></i
    ></a>
    <a
      href="https://github.com/MetehanOzalp"
      target="_blank"
      class="footer__icon"
      ><i class="bx bxl-github"></i
    ></a>
    <a
      href="https://www.linkedin.com/in/metehan-%C3%B6zalp-21b8141b4/"
      target="_blank"
      class="footer__icon"
      ><i class="bx bxl-linkedin"></i
    ></a>
  </div>
  <p>&#169; 2021 Tüm Hakları Saklıdır.</p>
</footer>
