<header class="l-header">
  <nav class="nav bd-grid">
    <div>
      <a href="#" class="nav__logo">Metehan Özalp</a>
    </div>
    <div class="nav__menu" id="nav-menu">
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#home" class="nav__link">Anasayfa</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">Hakkımda</a>
        </li>
        <li class="nav__item">
          <a href="#experiences" class="nav__link">Deneyimlerim</a>
        </li>
        <li class="nav__item">
          <a href="#educations" class="nav__link">Eğitimlerim</a>
        </li>
        <li class="nav__item">
          <a href="#skills" class="nav__link">Yeteneklerim</a>
        </li>
        <li class="nav__item">
          <a href="#projects" class="nav__link">Projelerim</a>
        </li>
        <li class="nav__item">
          <a href="#contact" class="nav__link">İletişim</a>
        </li>
      </ul>
    </div>
    <div class="nav__toggle" id="nav-toggle">
      <i class="bx bx-menu"></i>
    </div>
  </nav>
</header>
