<section class="projects section" id="projects">
  <h2 class="section-title">Projelerim</h2>
  <div class="projects__container bd-grid">
    <div class="projects__img">
      <img src="../../../assets/images/project/project-image01.png" alt="" />
    </div>
    <div class="projects__img">
      <img src="../../../assets/images/project/project-image02.png" alt="" />
    </div>
    <div class="projects__img">
      <img src="../../../assets/images/project/project-image03.png" alt="" />
    </div>
    <div class="projects__img">
      <img src="../../../assets/images/project/project-image04.png" alt="" />
    </div>
    <div class="projects__img">
      <img src="../../../assets/images/project/project-image05.png" alt="" />
    </div>
  </div>
</section>
