<section class="projects section" id="projects">
  <h2 class="section-title">
    Projelerim <span style="font-size: 40px">({{ projects.length }})</span>
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-md-4" *ngFor="let project of projects">
        <div class="content">
          <div class="content-overlay"></div>
          <img
            class="content-image"
            src="https://localhost:44397/{{ project.projectThumbnail }}"
          />
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">{{ project.name }}</h3>
            <p class="content-text">
              <a href="{{ project.githubLink }}" class="fa fa-map-marker">{{
                project.githubLink
              }}</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
