.projects {
  text-align: center;
}

.projects__container {
  row-gap: 2rem;
}

/* .projects__img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
} */

.projects__img img {
  transition: 1s;
  cursor: pointer;
}

.projects__img img:hover {
  transform: scale(1.1);
}
