<section class="projects section" id="projects">
  <h2 class="section-title">Projelerim</h2>
  <div class="projects__container bd-grid">
    <div class="container">
      <img
        src="../../../assets/images/METEHAN ÖZALP.jpg"
        alt="Avatar"
        class="image"
      />
      <div class="overlay">
        <div class="text">Hello World</div>
      </div>
    </div>
    <!-- <div class="projects__img" *ngFor="let project of projects">
      <img
        src="https://localhost:44397/{{ project.projectThumbnail }}"
        alt=""
      />
    </div> -->
  </div>
</section>
