<section class="home bd-grid" id="home">
  <div class="row">
    <div class="home__data col-md-8">
      <h1 class="home__title">
        Merhaba, <br />
        Ben <span class="home__title-color">Metehan</span> <br />
        Web Developer & Backend Developer
      </h1>
      <a href="#contact" class="button">İletişime geçin</a>
    </div>
    <div class="home__img col-md-4">
      <img
        src="../../../assets/images/undraw/undraw_software_engineer_lvl5.svg"
        alt=""
      />
    </div>
  </div>
</section>
