<div
  class="container aboutMe__add__container"
  style="width: 100%; height: 689px"
>
  <div
    class="row justify-content-center align-items-center"
    style="margin-top: 1rem; margin-bottom: 1rem"
  >
    <div class="col-md-6">
      <div class="card">
        <div class="card-header"><h5>Hakkımda Ekle</h5></div>
        <div class="card-body">
          <form [formGroup]="aboutMeAddForm">
            <div class="mb-3">
              <label for="firstName">Adı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  class="form-control"
                  placeholder="Adı"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="lastName">Soyadı</label>
              <div class="form-group">
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  class="form-control"
                  placeholder="Soyadı"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="email">Email</label>
              <div class="form-group">
                <input
                  type="text"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  placeholder="Email"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="job">Meslek</label>
              <div class="form-group">
                <input
                  type="text"
                  id="job"
                  formControlName="job"
                  class="form-control"
                  placeholder="Meslek"
                />
              </div>
            </div>
            <div class="mb-3">
              <label for="description">Açıklama</label>
              <div class="form-group">
                <textarea
                  id="description"
                  formControlName="description"
                  class="form-control"
                  rows="5"
                  placeholder="Açıklama"
                ></textarea>
              </div>
            </div>
            <div class="mb-3">
              <label for="birthDate">Doğum Tarihi</label>
              <div class="form-group">
                <input
                  type="date"
                  id="birthDate"
                  formControlName="birthDate"
                  class="form-control"
                />
              </div>
            </div>

            <label for="imagePath">Resim</label>
            <div class="form-group">
              <input
                type="file"
                (change)="onFileSelected($event)"
                name="imagePath"
                multiple
              />
            </div>
          </form>
        </div>
        <div class="card-footer">
          <button class="btn btn-fill btn-primary" (click)="add()">Ekle</button>
        </div>
      </div>
    </div>
  </div>
</div>
