<section class="experiences section" id="experiences">
  <h2 class="section-title">Deneyimlerim</h2>
  <div class="experiences__container bd-grid">
    <div
      class="resume-wrap d-flex ftco-animate"
      *ngFor="let experience of experiences"
    >
      <div class="icon d-flex align-items-center justify-content-center">
        <img
          width="30px"
          src="https://img.icons8.com/ios/50/000000/experience-skill.png"
        />
      </div>
      <div class="text pl-3">
        <span class="date" *ngIf="experience.endDate"
          >{{ experience.startDate }} - {{ experience.endDate }}</span
        >
        <span class="date" *ngIf="!experience.endDate"
          >{{ experience.startDate }} - {{ experience.endDate }}</span
        >
        <h2>{{ experience.positionName }}</h2>
        <span class="position">{{ experience.companyName }}</span>
      </div>
    </div>
  </div>
</section>
